@page
@model HEquityJefferson.IndexModel
@{

}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta charSet="utf-8" />
    <title>Guess The Price: Can you guess the price of these cars?</title>
    <meta property="og:title" content="Guess The Price: Can you guess the price of these cars?" />
    <meta name="description" content="" />


</head>

</html>